html { 
    height: 100vh;
    min-width: 600px;
    background-image: linear-gradient(130deg, lightgrey, #000000);
    background-repeat: no-repeat;
    background-size: auto;
    font-family: 'Courier New', Courier, monospace;
}
.container {
    width: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin:auto;
    font-family: 'Courier New', Courier, monospace;
}
.main {
    padding: 20px;
}
form {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    font-family: 'Courier New', Courier, monospace;

}
input[type = "text"] {
    height: 30px;
    outline: 0;
    border: none;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    color: #595959;
    flex-grow: 1;
    
}
button {
    font-size: 1.5rem;
    background-color: #ffffff;
    outline: 0;
    border: none;
    color: #595959;
    font-family: 'Courier New', Courier, monospace;
}
button:hover {
    color: lightgrey;
}
p:hover {
    color:#595959
}
.tasker-card {
    width: auto;
    height: auto;
    background-color: white;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 15px;
    padding-top: 1px;
    font-size: 1.5rem;
    margin-top: 5px;
}
.tasker-card:hover {
    background-color: lightgrey;
}
i {
    pointer-events: none; 
}
.checked {
    color: black;
    text-decoration: line-through;
}
button#checkBtn {
    background-color: white;
    border: 1px;
    border-radius: 5px;
    border-color: black;
    
}
button#checkBtn:hover {
    background-color: white;
}
button#deleteBtn {
    background-color: white;
    border: 1px;
    border-radius: 5px;
}